body {
  background-color: #FCFCFC;
  max-width: 100%;
  min-width: 300px;
}

p {
  color: #8A9094;
}

.main__header {
  color: gray;
  margin-top: 2em;
  margin-left: .9em;
}

.panel {
  border: 2px solid lightgray;
  border-radius: 5px;
  background-color: #fff;
  max-width: 100%;
}

.panel:after {
  content: "";
  display: table;
  clear: both;
}

main.panel__grid {
  display: grid;
  grid-template-columns: [panelGrid] 2% auto 2%;
}

.panel--container--start, .panel--container--mid, .panel--container--end {
  grid-column-start: 2;
}

.panel--container--start, .panel--container--mid, .panel--container--end {
  margin-top: 20px;
  margin-bottom: 5px;
  padding: 1em;
  z-index: 3;
}

.panel__inner {
  display: grid;
  grid-template-columns: 30% 5% 65%;
  grid-template-rows: auto;
  max-width: 100%;
}

.panel__inner__content {
  grid-column-start: 3;
}

.city--name {
  margin-top: 5px;
}

.email {
  margin-bottom: 5px;
  display:
}

.overlay {
  top: 7em;
  right: 1em;
  position: fixed;
  width: 90%;
  height: 45%;
  opacity: 1;
  z-index: 5;
}

.panel__overlay {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: .7;
  z-index: 4;
}

.panel--layout {
  display: grid;
  grid-template-columns: [panelSelected] 10% auto 10%;
  grid-template-rows: [panelSelectedRows] 2% 5% 30% 20% 10% 20% auto;
  text-align: center;
}

.close--overlay {
  grid-column: 3;
  grid-row: 2;
  text-decoration: none;
  color: gray;
  font-weight: bolder;
  font-size: 1.2em;
}

.close--overlay:hover {
  color: lightgray;
}

.avitar--thumbnail--selected {
  text-align: center;
  grid-column: 2;
  grid-row: 3;
}

.panel--inner--selected {
  text-align: center;
  grid-column: 2;
  grid-row: 4;
}

.line--divider {
  margin: auto;
  grid-column: 2;
  grid-row: 5;
  border-top: 1px solid lightgray;
  width: 100%;
}

.panel__inner--bottom--selected {
  text-align: center;
  grid-column: 2;
  grid-row: 6;
}

img {
  max-width: 100%;
  max-height: 100%;
  /* width: 5em; */
  /* height: 5em; */
  margin: auto;
  border-radius: 50%;
}

@media only screen and (min-width: 425px) {
  main.panel__grid {
    grid-template-columns: [panelGrid] 10% auto 10%;
  }
}

@media only screen and (min-width: 725px) {
  main.panel__grid {
    grid-template-columns: [panelGrid] 2% auto 2% auto 2%;
  }
  .panel--container--start, .panel--container--end, .panel--container--mid {
    grid-column: 2 / 2;
  }
  .panel--container--mid:nth-child(2n+2), .panel--container--start:nth-child(2n+2), .panel--container--end:nth-child(2n+2) {
    grid-column: 4 / 4;
  }
  .overlay {
    right: 5em;
    width: 80%;
  }
}

@media only screen and (min-width: 1025px) {
  main.panel__grid {
    grid-template-columns: [panelGrid] 2% auto 2% auto 2% auto 2%;
  }
  .panel--container--start, .panel--container--start:nth-child(2n+2) {
    grid-column: 2 / 2;
  }
  .panel--container--mid, .panel--container--mid:nth-child(2n+2) {
    grid-column: 4 / 4;
  }
  .panel--container--end, .panel--container--end:nth-child(2n+2) {
    grid-column: 6 / 6;
  }
  .overlay {
    right: 31%;
    width: 40%;
  }
}